.highlights {
    width: 100%;
    padding: 50px 60px;
    background-color: var(--clr-table-row);
    margin-bottom: 50px;
}

/* Corresponding screen width according to bootstrap xl screens */

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .highlights__individual--col {
        margin-right: 1rem !important;
    }
}

/* Corresponding screen width according to bootstrap lg screens */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .highlights__individual--col {
        margin-right: 0 !important;
        padding: 0 !important;
    }
}

/* Corresponding screen width according to bootstrap md screens */

@media screen and (min-width: 768px) and (max-width: 992px) {
    .highlights__individual--col {
        margin-bottom: 2rem;
    }
    .highlights {
        padding: 30px;
    }
}

/* Corresponding screen width according to bootstrap sm screens */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .highlights__individual--col {
        margin-bottom: 2rem;
    }
    .highlights {
        padding: 30px !important;
    }
}

/* Corresponding screen width according to bootstrap smaller than sm screens */
@media screen and (max-width: 576px) {
    .highlights__individual--col {
        margin-bottom: 1rem !important;
    }
    .highlights {
        padding: 15px !important;
    }
}
