.highlights__card--wrapper {
    background-color: var(--clr-white);
    border: 1px solid var(--clr-card-outline);
    border-radius: 10px;
}

/* Heading section */
.highlights__heading {
    border-bottom: 1px solid var(--clr-card-outline);
}
.highlights__title-icon {
    width: 24px;
}
.highlights__title span {
    font-size: var(--fs-table-head);
    font-weight: 500;
    color: var(--clr-text);
    line-height: 2rem;
}

/* Table section */
.highlights__table {
    width: 95% !important;
}
.highlights__image-icon {
    width: 20px;
    height: 20px;
}
.highlights__currency--slno,
.highlights__currency--name {
    color: var(--clr-text);
    font-weight: 500;
    font-size: var(--fs-table-cell);
}
.highlights__currency--symbol {
    color: var(--clr-light-text);
    font-weight: 500;
    font-size: var(--fs-table-cell);
}

.highlights__table .percent__change--upicon {
    font-size: 12px;
}
.percent__change--value-up {
    color: var(--clr-up);
    font-weight: 500;
    font-size: var(--fs-table-cell);
}
.percent__change--value-down {
    color: var(--clr-down);
    font-weight: 500;
    font-size: var(--fs-table-cell);
}
.recently__added--price {
    color: var(--clr-price-digit);
    font-weight: 500;
    font-size: var(--fs-table-cell);
}

/* Corresponding screen width according to bootstrap lg screens */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .highlights__currency--slno,
    .highlights__currency--name,
    .percent__change--value-up,
    .percent__change--value-down,
    .recently__added--price {
        font-size: 1.1rem;
    }
}

/* Corresponding screen width according to bootstrap sm, md and lg screens */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .highlights__currency--slno,
    .highlights__image-icon {
        margin-right: 1rem !important;
    }
}
