.Signup-blur-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    /* background-color: rgba(0, 0, 0, 0.244); */
    /* filter: blur(80px); */
    /* display: none; */
}

.Signup_wrapper {
    padding: 0 0 100px;
    background-position: bottom center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-attachment: fixed !important;
    min-height: 100% !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: none; */
    /* border: 3px solid pink; */
    z-index: 99;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.Signup_wrapper input {
    background-color: #f8f8f8 !important;
    border-color: 1px solid #e4e4e4 !important;
    color: #000 !important;
}
.Signup_wrapper input:focus {
    box-shadow: none !important ;
}
.Signup_wrapper .submit____btn {
    padding: 15px !important;
    font-weight: 500 !important;
}
.Signup_wrapper .login-with {
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.img-sign-up {
    width: 8% !important;
}
.cre_an_account {
    font-weight: bold !important;
    font-size: 25px !important;
    font-style: normal !important;
}
.sign_up_float_email {
    position: relative !important;
    float: left !important;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

.sign_up_place_holder::-webkit-input-placeholder {
    color: #c0c0c0 !important;
    font-weight: 400;
    font-size: 14px;
}

.sign-up-font-color-form {
    color: #787980 !important;
}
.main_parent_sign_up_icon {
    justify-content: start;
    width: 100%;
}
.parent_icon_and_password_align {
    position: relative !important;
    justify-content: flex-end !important;
    width: 100%;
}
.sign_up_place_holder {
    width: 100% !important;
}
.sign_up_image_position {
    position: absolute !important;
}
.closing_icon_wrapper {
    display: flex !important;
    justify-content: space-between !important;
    align-content: center !important;
    align-items: center !important;
}
.img-icon-close {
    width: 10% !important;
    padding: 0px 0px 15px 0px;
    cursor: pointer;
}

.sign__up__with:before {
    right: 0.5em;
    margin-left: -50%;
}

.sign__up__with:after {
    left: 0.5em;
    margin-right: -50%;
}
.sign__up__with {
    overflow: hidden;
    text-align: center;
}

.sign__up__with:before,
.sign__up__with:after {
    background-color: #e4e4e4 !important;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.sign_up_float_email {
    color: var(--clr-text);
    font-size: 1.4rem;
    font-weight: 400;
}
