.home__search--heading {
    color: var(--clr-text);
}
.home__search--description,
.home__search--description .price__change {
    font-size: 1.8rem;
    font-weight: 500;
}

.home__search--description {
    color: var(--clr-gray-text);
}
.home__search--description .arrow_icon {
    width: 18px;
}
.home__search--description .price__change {
    color: var(--clr-down);
}

.search__wrapper {
    box-shadow: 0px 0px 20px rgba(21, 26, 51, 0.2);
    position: relative;
    max-width: 90rem !important;
}
.search__input {
    padding: 1.5rem 2.6rem;
    font-size: 1.6rem;
    color: var(--clr-text);
}
.search__input:focus {
    outline: none;
}
.search__button {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    background-color: var(--clr-primary);
    height: 100%;
    width: 13% !important;
}

/* Corresponding screen width according to bootstrap for xxl screens */
@media screen and (min-width: 1400px) {
    .home__search--heading {
        font-size: clamp(3.2rem, 2.5vw, 5rem);
    }
    .home__search--description,
    .home__search--description .price__change {
        font-size: 2.2rem;
    }
}

/* Corresponding screen width according to bootstrap md screens */

@media screen and (min-width: 768px) and (max-width: 992px) {
    .home__search--heading {
        font-size: 2.4rem;
    }
    .home__search--description,
    .home__search--description .price__change {
        font-size: 1.4rem;
    }
}

/* Corresponding screen width according to bootstrap md screens */

@media screen and (min-width: 768px) and (max-width: 992px) {
    .search__button {
        width: 17% !important;
    }
}

/* Corresponding screen width according to bootstrap sm screens */

@media screen and (min-width: 576px) and (max-width: 768px) {
    .home__search--heading {
        font-size: 2rem;
    }
    .home__search--description,
    .home__search--description .price__change {
        font-size: 1.2rem;
    }
    .home__search--description .arrow_icon {
        width: 14px;
    }
    .search__input {
        padding: 1.2rem 2rem;
        font-size: 1.2rem;
    }
    .search__button {
        padding: 1rem 1.4rem;
        width: 20% !important;
    }
}

/* Corresponding screen width according to bootstrap smaller than sm screens */

@media screen and (max-width: 576px) {
    .home__search--heading {
        font-size: 1.4rem;
    }
    .home__search--description,
    .home__search--description .price__change {
        font-size: 1rem;
    }
    .home__search--description .arrow_icon {
        width: 11px;
    }
    .search__input {
        padding: 1rem 1.6rem;
        font-size: 1rem;
    }
    .search__button {
        padding: 0.7rem 1.2rem;
        width: 20% !important;
    }
}
