/* .main_container {
    padding: 60px 60px 60px 60px !important;
} */

.price_estimates_wrapper {
    display: flex;
    gap: 3rem;
}
.price_heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.header___logo {
    display: flex;
}
.price_paragraph {
    /* width: 324px !important; */
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 15px;
    color: #1e202b;
}
.beta_logo {
    width: 60px;
    padding: 0px 0px 5px 15px;
}

.button_manual {
    color: #ffffff !important;
    background-color: #2b50ff !important;
    /* border-radius: 100px !important; */
    width: 131px;
    height: 30px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 12px !important;
}
.customer_logo {
    width: 35px;
    /* height:24px; */
}
.customer_vote {
    color: #1e202b;
    font-weight: 600;
    font-size: 14px;
}

.login_date {
    color: #1e202b;
    font-weight: 500;
    font-size: 12px;
    text-align: right !important;
    vertical-align: middle !important;
    padding-top: 8px !important;
}

.customer_vote {
    padding-left: 5px;
}
.gap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.button_last_box {
    color: #1e202b !important;
    background-color: #eaebf2 !important;
    /* border-radius: 100px !important; */
    width: 131px;
    height: 30px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid #eaebf2 !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important;
}
.first_card_price_estimate {
    border-radius: 10px !important;
}
