.charttabs__wrapper {
    width: 100%;
    border: 5px solid var(--clr-table-row);
    padding: 4rem 6rem;
    margin-bottom: 3rem;
}

.charttabs__inner--wrapper {
    overflow-x: scroll;
}
.charttabs__inner--wrapper::-webkit-scrollbar {
    display: none;
}

.charttabs__inner--wrapper li {
    padding: 0.8rem 1.4rem;
    background-color: var(--clr-tab-background);
    border-radius: 100px;
    margin-right: 1rem;
    white-space: nowrap;
    transition: ease-in 150ms;
}
.charttabs__inner--wrapper li:hover {
    background-color: var(--clr-primary);
}
.charttabs__inner--wrapper li:hover a {
    color: var(--clr-white);
}

.charttabs__inner--wrapper li a {
    color: var(--clr-text);
    font-size: 1.2rem;
    font-weight: 400;
}
.charttabs__inner--wrapper li.active {
    background-color: var(--clr-primary);
}
.charttabs__inner--wrapper li.active a {
    color: var(--clr-white);
}

/* Corresponding screen width according to bootstrap sm screens */

@media screen and (min-width: 576px) and (max-width: 768px) {
    .charttabs__wrapper {
        padding: 3rem 4rem;
    }
    .charttabs__inner--wrapper li {
        padding: 0.6rem 1.2rem;
    }
}

/* Corresponding screen width according to bootstrap less than sm screens */

@media screen and (max-width: 576px) {
    .charttabs__wrapper {
        padding: 2rem 2rem;
    }
    .charttabs__inner--wrapper li {
        padding: 0.4rem 1rem;
    }
    .charttabs__inner--wrapper li a {
        font-size: 1.1rem;
    }
}
