.social_links {
    display: flex;
    width: 160px;
    height: 80px;
    justify-content: space-between;
    gap: 1rem;
}
.Insta_logo {
    padding-left: 0px;
}
.Twitter_logo {
    padding-left: 0px;
}
.Link_logo {
    padding-left: 0px;
}
.FB_logo {
    padding-left: 0px;
}
