.news__card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news__button {
    width: max-content !important;
    border: none !important;
    border-radius: 100px !important;
    background-color: var(--clr-tab-background) !important;
    font-size: var(--fs-tab-normal) !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: var(--clr-text) !important;
    padding: 5px 10px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    white-space: nowrap !important;
    cursor: pointer !important;
    gap: 1px !important;
    transition: 150ms ease-in !important;
}

.news__button:hover {
    background-color: var(--clr-primary) !important;
    color: var(--clr-white) !important;
}

/* Corresponding screen width according to bootstrap sm screens */
/* @media screen and (min-width: 576px) and (max-width: 768px) {
    .news-details__wrapper {
        padding: 0 4rem;
    }
} */
/* Corresponding screen width according to bootstrap less than sm screens */
/* @media screen and (max-width: 576px) {
    .news-details__wrapper {
        padding: 0 2rem;
    }
} */
