.header__wrapper {
    background: #151a33;
}

/* .header__logo {
    min-height: 50px;
} */

.header__tabs {
    margin-left: 60px;
}

.sign__up {
    background: #e96e5d;
    color: #ffffff;
    height: 37px;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.log__in {
    background: #08ad98;
    color: #ffffff;
    height: 37px;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.sign__up:hover {
    background: #f1290e;
}

.log__in:hover {
    background: #05fddc;
}

.humburger__menu {
    display: none !important;
}

/* search  */

.search-box {
    background: #f3f4f6;
    height: 38px;
    border-radius: 38px;
}

.search-box:hover > .search-text {
    width: 230px;
    padding-left: 15px;
}

.search-box:hover > .search-btn {
    background: #f3f4f6;
    color: black;
    padding: 5px 4px;
}

.search-btn {
    width: 38px;
    height: 38px;
    border-radius: 500%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.search-btn > i {
    font-size: 25px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(26, 25, 25);
    font-size: 13px;

    font-weight: normal;
    transition: 0.6s;
    line-height: 38px;
    width: 0px;
}

@media screen and (max-width: 778px) {
    .header__link {
        display: none;
    }

    .header__link--mobile {
        z-index: 999;
        /* position: fixed;
        position: sticky; */
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        background: #151a33ea;
        position: absolute;
        height: 100vh;
        width: 50%;
        gap: 50px;
        margin-top: 20px;
        top: 37px;
        right: 0%;
        animation-name: example;
        animation-duration: 600ms;
    }
    @keyframes example {
        0% {
            right: -20%;
        }

        100% {
            right: 1%;
        }
    }

    .log__in {
        padding-left: 26px;
        padding-right: 26px;
    }

    .login__content {
        margin-top: 20px;
        margin-top: 30px;
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .humburger__menu {
        display: block !important;

        color: #ffffff !important;
    }
}

/* @media screen and (max-width: 576px) {
    .header__link--mobile {
        top: 7%;
        display: flex;
        align-items: flex-start !important;
    }
}

@media screen and (max-width: 393px) {
    .header__link--mobile {
        top: 8%;
        display: flex;
        align-items: flex-start !important;
    }
} */
