.header__wrapper {
    background: #151a33;
}

.box__shadow {
    box-shadow: 2px 2px 2px 1px rgb(251, 251, 251);
    margin-left: -10px;
    margin-right: -10px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}

.sign__up {
    background: #e96e5d;
    color: #ffffff;
    height: 37px;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.log__in {
    background: #08ad98;
    color: #ffffff;
    height: 37px;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAA50lEQVRoge3WMU7DQBSE4f8ZFKDIAcjB6Ai3CKKBKNzElJyHI8AFkIlC4A0FtuJFQpBuQfM19pNW9qwsawfMzMz+sCim5cOEbnsbwTnKUySQCD6vSICI0T3qZwTKX60v1+QPz+zn0JNSd+vNwTX3Z69D5MNiAy/bVcBiCFJNeASpWSgvTybvWsPVELn58jnmUGF47d7RSBfjzMUGUKrm8P2c324gkrby8ADtOHPxD+T06KZ57kDMkWaVhX8E2u7teImZWTXchdyF9jzU3IXchdyFzOxfcRdyF9rzUHMXchdyFzIzM9v5ADn1CZvVM6PIAAAAAElFTkSuQmCC') !important;
}

.Navbar {
    box-shadow: hsl(222, 88%, 13%);
}

.search-box {
    background: #f3f4f6;
    height: 38px;
    border-radius: 38px;
}

.search-box:hover > .search-text {
    width: 230px;
    padding-left: 15px;
}

.search-box:hover > .search-btn {
    background: #f3f4f6;
    color: black;
    padding: 5px 4px;
}

.search-btn {
    width: 38px;
    height: 38px;
    border-radius: 500%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.search-btn > i {
    font-size: 25px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(26, 25, 25);
    font-size: 13px;

    font-weight: normal;
    transition: 0.6s;
    line-height: 38px;
    width: 0px;
}
