.infosources__wrapper li {
    border: 1px solid var(--clr-card-outline);
    padding: 0.7rem 1.2rem;
}
.infosources__inner--wrapper {
    overflow-x: scroll;
}
.infosources__inner--wrapper::-webkit-scrollbar {
    display: none;
}
.infosources__wrapper li:hover {
    background: var(--clr-tab-background);
}
.infosources__wrapper li.active {
    background: var(--clr-tab-background);
}
.infosources__wrapper li:active span {
    font-weight: 600;
}
.infosources__wrapper li span {
    font-size: 1.2rem;
    font-weight: 500;
}
.infosources__wrapper li img {
    width: 1.4rem;
}
