.coin-review__question--wrapper .question {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--clr-text);
}
.coin-review__question--wrapper .comment {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--clr-light-text);
}

.coin-review__button--wrapper .good__wrapper,
.coin-review__button--wrapper .bad__wrapper {
    padding: 0.7rem 1.2rem;
}
.coin-review__button--wrapper .good__wrapper {
    background-color: var(--clr-up);
}
.coin-review__button--wrapper .bad__wrapper {
    background-color: var(--clr-down);
}
.coin-review__button--wrapper .good__wrapper img,
.coin-review__button--wrapper .bad__wrapper img {
    width: 1.8rem;
}
.coin-review__button--wrapper .good__wrapper span,
.coin-review__button--wrapper .bad__wrapper span {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--clr-white);
}

/* Corresponding screen width according to bootstrap sm screens */

@media screen and (min-width: 576px) and (max-width: 768px) {
    .coin-review__button--wrapper .good__wrapper,
    .coin-review__button--wrapper .bad__wrapper {
        padding: 0.5rem 1rem;
    }
    .coin-review__question--wrapper .question {
        font-size: 1.6rem;
    }
    .coin-review__question--wrapper .comment {
        font-weight: 400;
    }
}

/* Corresponding screen width according to bootstrap less than sm screens */

@media screen and (max-width: 576px) {
    .coin-review__question--wrapper .question {
        white-space: normal;
    }
    .coin-review__button--wrapper .good__wrapper,
    .coin-review__button--wrapper .bad__wrapper {
        padding: 0.5rem 1rem;
    }
}
