.footer__contact {
    text-align: left;
    /* padding-top: 22px; */
}
.contact_wrapper {
    padding-top: 20px;
}

.col {
    line-height: 40px !important ;
}

.mail_logo {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 1rem;
}
.call_logo {
    width: 28px;
    height: 28px;
    padding: 0px;
    vertical-align: middle;
}
.place_logo {
    width: 28px;
    height: 28px;
    padding: 0px;
    vertical-align: middle;
    margin-right: 1rem;
}
.place_address {
    line-height: 23px;
}

.mail_logo {
    width: 30px;
    height: 30px;
    padding: 0px;
}
.call_logo {
    width: 30px;
    height: 30px;
    padding: 0px;
}
.place_logo {
    width: 30px;
    height: 30px;
    padding: 0px;
}
.contact_text {
    display: flex;
}
.contact_mail_logo_list {
    display: block;
    margin-bottom: 16px;
}
.contact_call_logo_list {
    display: block;
    margin-bottom: 16px;
}
