.more-details__wrapper * {
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;
}

/* Supply counts section*/

.supply__wrapper {
    border: 1px solid var(--clr-card-outline);
    border-radius: 10px;
}

/* Circular progress bar */

/* ****************** */

.help__tooltip {
    width: 1.4rem;
}

/* Market capital section*/
.market-capital__wrapper {
    border: 1px solid var(--clr-card-outline);
    border-radius: 10px;
    position: relative;
}
.percent__change--value.down {
    color: var(--clr-down);
}
.percent__change--value.up {
    color: var(--clr-up);
}
.percent__arrow--icon {
    width: 1.4rem;
}
.market-capital__wrapper::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 85%;
    background-color: var(--clr-card-outline);
    left: 28%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.market-capital__wrapper::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 85%;
    background-color: var(--clr-card-outline);
    left: 71%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Tags section*/

.tags__wrapper {
    border: 1px solid var(--clr-card-outline);
    border-radius: 10px;
}
.tags__wrapper .heading {
    border-bottom: 1px solid var(--clr-card-outline);
    border-radius: 10px;
}

.tags__list--container {
    display: flex !important;
    flex-wrap: wrap;
}
.tags__wrapper li {
    width: max-content;
    border-radius: 100px;
    padding: 0.4rem 0.7rem;
    background-color: var(--clr-tab-background);
    margin: 0 0.5rem 0.5rem 0;
}
.tags__wrapper li a {
    font-size: 1.2rem;
    font-weight: 400;
}
.tags__wrapper li:hover {
    background-color: var(--clr-primary);
}
.tags__wrapper li:hover a {
    color: var(--clr-white);
}

.tags__wrapper .view__all {
    background-color: var(--clr-primary);
}
.tags__wrapper .view__all a {
    color: var(--clr-white);
}

/* Corresponding screen width according to bootstrap xl screens */

@media screen and (min-width: 1400px) {
    .market-capital__wrapper::before {
        left: 25%;
    }

    .market-capital__wrapper::after {
        left: 67%;
    }
}

/* Corresponding screen width according to bootstrap lg screens */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .market-capital__wrapper::before {
        height: 38%;
        left: 42%;
        top: 30%;
    }

    .market-capital__wrapper::after {
        width: 97%;
        height: 1px;
        left: 50%;
        top: 56%;
    }
}
/* Corresponding screens less than width according to bootstrap lg screens */

@media screen and (max-width: 992px) {
    .market-capital__wrapper::before,
    .market-capital__wrapper::after {
        display: none;
    }
}

/* Corresponding screen width according to bootstrap md screens */

@media screen and (min-width: 768px) and (max-width: 992px) {
    .tags__wrapper .heading {
        border-bottom: none;
    }
    .tags__wrapper {
        margin-top: 1rem;
    }
}

/* Corresponding screen width according to bootstrap sm screens */

@media screen and (min-width: 576px) and (max-width: 768px) {
    .tags__wrapper .heading {
        border-bottom: none;
    }
}

/* Corresponding screens less than width according to bootstrap sm screens */

@media screen and (max-width: 576px) {
    .tags__wrapper .heading {
        border-bottom: none;
    }
    .more-details__wrapper * {
        font-size: 1.2rem;
    }
}
