.footer-dark {
    background-color: var(--clr-footer);
    width: 100%;
    color: #ffffff;
    padding: 60px 60px 0;
}
.row {
    /* padding:0 6%; */
    padding-bottom: 40px;
}

/* Copyright section */

.copyright {
    background: #121731;
    /* border-top: 1px solid white; */
    box-shadow: 0px 1px 1px 1px #ffffff !important;
}
.copyright__content {
    color: #ffffff;
}
