.footer__wrapper {
    background-color: var(--clr-footer);
    color: #ffffff;
}

/* Copyright section */

.copyright {
    background: #121731;
    /* border-top: 1px solid white; */
    box-shadow: 0px 1px 1px 1px #ffffff !important;
}

.copyright__content {
    color: #ffffff;
}

/* Corresponding screen width according to bootstrap for xxl screens */
/* 
@media screen and (min-width: 1400px){
    .footer__wrapper h3{
            font-size: 3rem !important;
    }
    .footer__wrapper li,
    .footer__wrapper a{
        font-size: 1.8rem !important;
}
} */
