.table__container--wrapper {
    background-color: var(--clr-white);
    border: 1px solid var(--clr-card-outline);
    border-radius: 10px;
}

.table__main {
    border-collapse: separate;
    border-spacing: 0rem 1rem;
}
.table__head {
    box-shadow: 0px 0.7px 0px 0px var(--clr-card-outline);
    height: 48px;
}
.table__head--row {
    background-color: var(--clr-white);
}

.table__head--row th {
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 1.4rem;
    color: var(--clr-text);
    font-weight: 500;
}

/* Adjusting white space before thead rows */

.table__head--row::before,
.table__head--row::after {
    content: '';
    width: 7px;
    height: calc(38px + 1rem);
    background-color: #ffffff !important;
    z-index: 999;
    display: block;
}
.table__body--row::before,
.table__body--row::after {
    content: '';
    width: 7px;
    height: calc(38px + 1rem);
    background-color: #ffffff !important;
    z-index: 9999;
    display: block;
}

/* ... */

/* tbody */

.table__body--row {
    height: 48px;
    background-color: var(--clr-table-row);
    color: var(--clr-text);
}

.table__body--row div,
.table__body--row span {
    font-size: 1.2rem;
    font-weight: 500;
}
.table__head--row th:nth-child(1),
.table__body--row td:nth-child(1) {
    background-color: var(--clr-table-row) !important;
    left: 0px;
    position: sticky;
    z-index: 999;
}

.table__head--row th:nth-child(2),
.table__body--row td:nth-child(2) {
    background-color: var(--clr-table-row) !important;
    left: calc(2rem + 5px);
    position: sticky;
    z-index: 999;
}
.table__head--row th:nth-child(3),
.table__body--row td:nth-child(3) {
    background-color: var(--clr-table-row) !important;
    left: calc(2rem + 5px + 1.2rem + 7px);
    position: sticky;
    z-index: 999;
}

.namecell__wrapper .coin__image {
    width: 30px;
}

.namecell__wrapper .coin__symbol {
    color: var(--clr-light-text);
}

.buy__button {
    background-color: rgba(43, 80, 255, 0.1);
    color: var(--clr-primary);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.3rem 1rem !important;
}

.change__arrow--image {
    width: 18px;
}

.one-day__pricechange .value__down,
.seven-day__pricechange .value__down,
.thirty-day__pricechange .value__down {
    color: var(--clr-down);
}
.one-day__pricechange .value__up,
.seven-day__pricechange .value__up,
.thirty-day__pricechange .value__up {
    color: var(--clr-up);
}

.day-volume .in-btc {
    color: var(--clr-light-text);
}

/* Progress bar */

.progress {
    background-color: #dadada !important;
    height: 0.5rem !important;
}
.progress-bar {
    background-color: var(--clr-up) !important;
}

/* ********* */

.graph__image {
    width: 10rem;
}

.more__icon--wrapper {
    width: 3rem;
}
.more__icon {
    width: 2rem !important;
}

/* Corresponding screen width according to bootstrap sm screens */

@media screen and (min-width: 576px) and (max-width: 768px) {
    .table__container--wrapper {
        overflow-x: auto;
    }
}

/* Corresponding screen width according to bootstrap smaller than sm screens */

@media screen and (max-width: 576px) {
    .table__container--wrapper {
        overflow-x: auto;
    }
}
