.table__container--wrapper {
    background-color: var(--clr-white);
    border: 1px solid var(--clr-card-outline);
    border-radius: 10px;
    margin: 60px 60px;
}

.table__main {
    width: 100%;
}
.table__head {
    box-shadow: 0px 0.7px 0px 0px var(--clr-card-outline);
}

.table__head--row {
    background-color: var(--clr-white);
    border-bottom: 1px solid var(--clr-card-outline);
    border-radius: 10px;
    padding-left: 20px;
}

.table__head--row th {
    text-align: left;
}

.table__body--bg {
    background-color: #2b50ff;
}

.table__head--font {
    font-weight: 400;
    font-size: 15px;
}

.table__font--name {
    font-weight: 500;
    font-size: 15px;
}

.table__head--row th:first-child {
    text-align: right;

    padding-right: 20px;
}

.for__tbody--margin {
    margin-left: 20px;
}

.font__size {
    font-weight: 500;
}

.font__fade {
    font-weight: 500;
    color: #b1b1b1;
}

.watchlist__star {
    width: 18px;
    margin-right: 11px;
}

.buy__button {
    background-color: rgba(43, 80, 255, 0.1);
    color: #2b50ff;
    align-items: center;
    padding: 3px 15px 3px 15px;
}

.coins__image {
    width: 32px;
    margin-right: 11px;
}

.display__table--cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.downarrow__image {
    width: 18px;
    margin-right: 5px;
}

.spacing {
    margin-right: 11px;
}

.spacing__btc {
    margin-left: 7px;
}

.graph__image {
    width: 140px;

    margin-right: 11px;
}

.more__icon {
    width: 30px;
}
