/* Table filter tabs */

.editables__tab {
    padding: 8px 14px !important;
    font-weight: 500 !important;
}
.editables__tab:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}
.editables__tab:hover .watchlist__star path {
    fill: var(--clr-watchlist-star-fill) !important;
    stroke: var(--clr-watchlist-star-fill) !important;
}

.editables__tab:hover .portfolio__filter path {
    fill: var(--clr-white);
}
.editables__tab:hover .filter__filter .filter__rect,
.editables__tab:hover .customize__rect {
    stroke: var(--clr-white);
}

/* Table tabs */

.react-tabs__tab {
    padding: 1rem 1.8rem !important;
}
.react-tabs__tab-list::-webkit-scrollbar {
    display: none;
}
.react-tabs__tab-list {
    overflow-x: scroll !important;
}

.editables__container::-webkit-scrollbar {
    display: none;
}
.react-tabs__tab--selected {
    color: #ffff !important;
    background-color: #2b50ff !important;
}

@media screen and (max-width: 576px) {
    .editables__tab {
        font-size: 1rem;
    }
    .editables__tab--image {
        width: 16px;
    }
}
